################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/learning/.vs/learning/FileContentIndex
/learning/.vs
/.vs
